@page "/orders"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div>
    <div class="your-orders">
        <h2>Your Orders</h2>
        <div class="table-responsive">
            <table class="table table-hover orders-table">
                <thead>
                    <td><strong>Order ID</strong></td>
                    <td><strong>Products Purchased</strong></td>
                    <td><strong>Total Price</strong></td>
                    <td><strong>Created Time</strong></td>
                </thead>
                <tbody>
                @foreach (var order in orders) {
                    <tr class="order-info">
                        <td>@order.OrderId</td>
                        <td>@order.OrderProducts.Sum(op => op.QtyOnOrder)</td>
                        <td>$@order.GetTotalPrice().ToString("0.00")</td>
                        <td>@order.CreatedTime</td>
                    </tr>    
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    List<Order> orders = new List<Order>();
    
    protected override async Task OnInitializedAsync() {
        orders = await HttpClient.GetFromJsonAsync<List<Order>>(
            $"{NavigationManager.BaseUri}api/orders");
    }
}