<div>
    <table class="table register-order-totals-table">
        <tr>
            <th scope="row">Units</th>
            <td>@Sale.SaleLines.Sum(line => line.Units)</td>
        </tr>
        <tr>
            <th scope="row">Subtotal</th>
            <td>$@Sale.GetDiscountedSubtotal().ToString("0.00")</td>
        </tr>
        <tr>
            <th scope="row">Tax</th>
            <td>$@Sale.GetTotalTax().ToString("0.00")</td>
        </tr>
        <hr>
        <tr>
            <th scope="row">Total</th>
            <td>$@Sale.GetTotal().ToString("0.00")</td>
        </tr>
        
    </table>
</div>

@code {
    [Parameter] public Sale Sale { get; set; }
}
